
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px)

  .hidden-lg
    display: none

  .container
    max-width: 1170px


@media only screen and (max-width : 1400px)

  .main-popup
    .button
      width: 57%


/*Main Page Styles*/

  /*End Main Page Styles*/


@media only screen and (max-width : 1200px)

  .container
    max-width: 970px

    //Header

  .top-logo
    width: 22%

  .header__nav
    width: 90%

    //End Header



  /*Main Page Styles*/
  .intro__slider
    .slick-next
      right: -7%
    .slick-prev
      left: -7%


  .intro__slide__block
    padding: 30px
    width: 45%
    .intro__slide_title
      font-size: 36px
      line-height: 46px


/*End Main Page Styles*/


/* End Large Devices, Wide Screens */
