
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

  .visible-lg
    display: none
  .hidden-lg
    display: inline-block

  .container
    max-width: 750px

    //Header
  .header
    margin-top: 136px
  .top-line__menu
    width: 100%
    float: none
  .top-line__schedule
    width: 100%
  .header__main__inner
    flex-wrap: wrap
  .top-logo
    width: 50%
  .header__select
    width: 50%
  .header__phones
    width: 33%
  .header__address
    width: 30%
  .header__button
    width: 30%

  .header__nav
    width: 100%

    //End Header

    //Footer
  .footer
    padding: 0
  .footer-inner
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
  .footer__item
    width: 30%
    margin-top: 20px
    padding: 0
  .footer__menu
    text-align: center
    a
      font-size: 12px

  .footer__button
    font-size: 12px
  .footer__schedule
    font-size: 12px
    margin-top: 20px

  .footer__phones
    margin-left: 42%
    text-align: center
    a
      font-size: 14px

  .footer__address
    margin-top: 10px
    text-align: center
    margin-left: 30%
    a
      font-size: 12px

    //End Footer



  /*Main Page Styles*/
  .intro__slide
    height: 430px
  .intro__slide__block
    padding: 30px
    width: 45%
    .intro__slide_title
      font-size: 26px
      line-height: 36px
    p
      font-size: 16px
      line-height: 20px
      margin-bottom: 24px
    .button
      width: 42%

  .offer__form
    .form-control
      input
        width: 22%
  .offer__form__button
    width: 20%




/*End Main Page Styles*/





/* End Medium Devices, Desktops */