/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  //Header
  .header
    margin-top: 400px
  .header__main
    margin: 15px 0
  .header__main__inner
    display: flex
    flex-direction: column
  .header__select, .header__phones, .header__address, .header__button
    width: 100%
    text-align: center
  .top-logo
    text-align: center
    width: 60%
    span
      text-align: left
    img
      min-width: 80px
  .header__select
    margin: 10px 0
  .header__select .selectize-dropdown
    top: 25px!important
  .header__phones
    width: 50%
    margin-bottom: 10px
  .header__button
    margin-top: 10px

  .nav-list
    flex-direction: column
    .nav-list__item
      border-right: none
      width: 100%
      margin: 5px 0
      a
        font-size: 18px
      &:last-child
        width: 100%

  //End Header

  /*Main Page Styles*/
  .intro__slide
    height: 330px
  .intro__slide__block
    width: 80%
    text-align: center
    padding: 15px
    .intro__slide_title
      font-size: 20px
    .button
      width: 80%
  .intro__slider .slick-next
    margin-top: -25px


  .offer__top
    .offer__heading
      height: 170px
      .h3
        font-size: 22px
  .offer__bottom
    .h4
      font-size: 30px





  /*End Main Page Styles*/




  //Footer
  .footer
    height: auto
    padding: 20px 0
  .footer-inner
    flex-direction: column
  .footer__item
    width: 100%
    text-align: center
  .bottom-logo
    width: 57%
    margin: 0 auto
    span
      text-align: left
    img
      min-width: 80px
  .footer__menu
    padding: 0
    width: 100%
  .footer__phones
    width: 69%
    padding: 0
    margin: 0
  .footer__address
    text-align: center
    margin: 0

  //End Footer


  .popup
    padding: 50px 10px
    .popup-wrap
      padding: 20px




  .main-popup, .success-popup
    .button
      width: 100%







/* End Extra Small Devices, Phones */